@model List<VagaModel>
@{
    ViewData["Title"] = "mais uma oportunidade :)";
}

<div class="text-center">
    <h1 class="display-4">Principais Vagas</h1>
</div>

<div class="container mt-5">
    <div class="row g-2">
        @if (Model != null && Model.Any())
        {
            foreach (VagaModel vaga in Model)
            {
                                        <div class="col-md-4">
                                            <div class="card p-3">
                                                <div class="mt-5">
                                                    <h3 class="mt-3 text-truncate">@vaga.Cargo</h3>
                                                    <h4 class="mt-3 text-truncate">@vaga.Empresa</h4>
                                                    <span class="text justify-content mt-3">@vaga.Local</span>
                                                    <span class="text justify-content mt-3">@vaga.Periodo</span>
                                                    <span class="text justify-content mt-3">@vaga.TempoPostagem</span>
                                                </div>
                                            </div>
                                        </div>
            }
        }
    </div>
</div>